body {
  font-family: Tahoma;
}

.main-box {
  width: 100%;
  margin-bottom: 10px;
}

.flex-box {
  display: flex !important;
}

.dr-row {
  flex-direction: row !important;
}

.dr-column {
  flex-direction: column !important;
}

.alit-start {
  align-items: flex-start;
}

.alit-center {
  align-items: center;
}

.alit-end {
  align-items: flex-end;
}

.just-start {
  justify-content: flex-start;
}

.just-end {
  justify-content: flex-end;
}

.just-center {
  justify-content: center;
}

.just-around {
  justify-content: space-around;
}

.just-between {
  justify-content: space-between;
}

.f-one {
  flex: 1;

  margin: 1px;
  padding: 5px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: rgba(128, 128, 128, 0.72);
}

.i-half {
  flex: 1 1 50%;
}

.bc-left,
.bc-right {
  padding: 15px;
}

.bc-left {
  color: white;
  background: black;
}

.bc-right {
  background: rgb(175, 175, 175);
}

.mgb-10 {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .mb-column {
    flex-direction: column !important;
  }
}

@media (min-width: 768px) {
  .web-row {
    flex-direction: row !important;
  }
}
