body {
  font-family: Tahoma;
}

.main-box {
  width: 100%;
  margin-bottom: 10px;
}

.flex-box {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
}

.dr-row {
  -moz-box-orient: horizontal !important;
  -webkit-box-orient: horizontal !important;
  box-orient: horizontal;

  -moz-box-direction: normal !important;
  -webkit-box-direction: normal !important;
  box-direction: normal !important;

  -webkit-flex-direction: row !important;
  -moz-flex-direction: row !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.dr-column {
  -moz-box-orient: vertical !important;
  -webkit-box-orient: vertical !important;
  box-orient: vertical;

  -moz-box-direction: normal !important;
  -webkit-box-direction: normal !important;
  box-direction: normal !important;

  -webkit-flex-direction: column !important;
  -moz-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.alit-start {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.alit-center {
  -webkit-align-items: center;
  align-items: center;
}

.alit-end {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.just-start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.just-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.just-center {
  -webkit-justify-content: center;
  justify-content: center;
}

.just-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.just-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.f-one {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;

  -webkit-box: 1;
  -moz-box: 1;

  flex: 1;

  margin: 1px;
  padding: 5px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: rgba(128, 128, 128, 0.72);
}

.i-half {
  -ms-flex: 1 1 50%;
  -webkit-flex: 1 1 50%;
  flex: 1 1 50%;
}

.bc-left,
.bc-right {
  padding: 15px;
}

.bc-left {
  color: white;
  background: black;
}

.bc-right {
  background: rgb(175, 175, 175);
}

.mgb-10 {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .mb-column {
    -moz-box-orient: vertical !important;
    -webkit-box-orient: vertical !important;
    box-orient: vertical;

    -moz-box-direction: normal !important;
    -webkit-box-direction: normal !important;
    box-direction: normal !important;

    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
}

@media (min-width: 768px) {
  .web-row {
    -moz-box-orient: horizontal !important;
    -webkit-box-orient: horizontal !important;
    box-orient: horizontal;

    -moz-box-direction: normal !important;
    -webkit-box-direction: normal !important;
    box-direction: normal !important;

    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
}
